
# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.
*   @oddballteam/design-and-forms-challenge
*   @oddballteam/design-and-forms-accessibility
*   @oddballteam/design-and-forms-design
*   @oddballteam/design-and-forms-engineering